

@model GoalInternational.Models.ConfirmMeModel
@using (Html.BeginForm("ConfirmMe", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{

    @Html.AntiForgeryToken()
   
    <div class="pnl-portal frmProgramRequest">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1 id="lblTitle"></h1>-->
                <h1>@GoalInternational.Languages.ConfirmPartial.G1</h1>
                <div class="lead1">@GoalInternational.Languages.ConfirmPartial.G2</div>
                <div class="btn-back"><span class="glyphicon glyphicon-chevron-left"></span><span>@GoalInternational.Languages.Common.BACK</span></div>
                <!--<div class="lead1" style="color: #534d4d"></div>-->
            </div>
        </div>





     
        <div class="row"></div>
        <div class="row">

            <div class="form-group form-group-sm col-sm-4">
                <label class="" style="font-size: 18px" title="first Name">@GoalInternational.Languages.ConfirmPartial.G3</label>@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @id = "txtFirstName", @placeholder = "" })
            </div>
            <div class="form-group form-group-sm col-sm-4">
                <label class="" style="font-size: 18px" title="last Name">@GoalInternational.Languages.ConfirmPartial.G4</label>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @id = "txtLastName", @placeholder = "" })
            </div>

            <div class="form-group form-group-sm col-sm-2">
                <label class="" style="font-size: 18px" title="Last Name">@GoalInternational.Languages.ConfirmPartial.G5</label>
                @Html.TextBoxFor(model => model.City, new { @class = "form-control", @id = "txtCity", @placeholder = "" })
            </div>

            <div class="form-group form-group-sm col-sm-2">
                <label class="" style="font-size: 18px" title="Last Name">@GoalInternational.Languages.ConfirmPartial.G6</label>
              @Html.TextBoxFor(model => model.Province, new { @class = "form-control", @id = "txtProvince", @placeholder = "" })
            </div>
        </div>


        <div class="row"></div>


        <div class="row">

        </div>
        <div class="row"></div>

        <div class="row"></div>



        <div class="row" style="padding-top:15px">
            <div class="form-group form-group-lg col-sm-2 pull-right">
                <!-- Trigger the modal with a button -->
          
                <input type="submit" onclick="window.location = '/Account/NotMe'; return false;" class="form-control btn btn-default btn-sm" value="@GoalInternational.Languages.ConfirmPartial.G7" />
            </div>

           

            <div class="form-group form-group-lg col-sm-2 pull-right">
                <!-- Trigger the modal with a button -->
                <button type="submit" class="form-control btn btn-primary btn-sm">@GoalInternational.Languages.Common.CONFIRM</button>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
   </div>

}
<script type="text/javascript">

      


        $(document).ready(function () {
            function SubmitForm(form) {

                $.validator.unobtrusive.parse(form);
                if ($(form).valid()) {
                    $.ajax({

                        type: "POST",
                        url: form.action,
                        data: form.serialize(),
                        datatype: 'json'


                    }).done(function (partialViewResult) {
                        debugger;
                        console.log("bite me  Confirm Partial");
                        $("#ContentContainer").html(partialViewResult);
                    });//end of ajax call
                }
                return false;
            }//end of submit form
        });//end of document.ready
</script>
