@model GoalInternational.Models.LoginModel

@using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{

    @Html.AntiForgeryToken()

    <div class="pnl-login">
        <div class="row">
            <div class="col-md-12 col-sm-offset-3">
                <h1>&nbsp;</h1>
                <h1>
                    @GoalInternational.Languages.Common.ForgotPassword<br>
                </h1>

                <div class="col-md-12" style="padding-left:0px">
                    <div class="form-group form-group-sm float-left margin-right-4">
                        <label class="control-label">@GoalInternational.Languages.Common.EMAIL</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control ctrl-login", @id = "ctrlEmail", @placeholder = "" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "errorMsg" })
                        <p style="color:red">@ViewBag.SuccessMessage</p>
                    </div>
                </div>

                <div class="col-md-12" style="padding-left:0px">
                    <span class="float-left"><input type="submit" class="form-control" id="ctrlSubmit_forgotPassword" value="@GoalInternational.Languages.Common.SUBMIT" /></span>
                    <span><input type="submit" onclick="window.location = '/Account/Login'; return false;" class="form-control" id="ctrlCancel_forgotPassword" value="@GoalInternational.Languages.Common.CANCEL" /></span>
                </div>

                <div id="lblMessage" class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
}

<script type="text/javascript">

    function SubmitForm(form) {

        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({

                type: "POST",
                url: form.action,

                data: $(form).serialize(),
                datatype: 'json',


            }).done(function (partialViewResult) {
                debugger;
                console.log("ajax call is done");
                $("#ContentContainer").html(partialViewResult);
            });//end of ajax call
        }
        return false;
    }//end of submit form

</script>

