@using GoalInternational.Util
@using GoalInternational.Models

@{ 
    UserModel userModel = UserHelper.GetLoggedInUser();
    string reportCountryLeader = "none";
    
    if (userModel.IsCountryLeader)
    {
        reportCountryLeader = "inline";
    }
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
  
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    
   
    <script type="text/javascript" src="/Scripts/jquery-ui-1.9.2.custom.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Site.css?t=34535" rel="stylesheet">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <style type="text/css">
        a:link {
            text-decoration: none;
            color: #036;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: #036;
        }

        a:active {
            text-decoration: none;
        }

        .errorMssg {
            color:#ff0000;
        }
    </style>
    <script type="text/javascript">
       $('.btn-back').on('click', function (e) {
        window.history.back();
       });

     
    </script> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@GoalInternational.Languages.Shared_Layout.G1</title>
</head>
<body style="background-image: url('/Images/Goal_bg.jpg');" cz-shortcut-listen="true">
    <div class="overlay"></div>
    <header>
        <div class="navbar navbar-inverse overlay-z2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div id="logo">
                                <div class="logo-img">
                                    <table>
                                        <tr><td><img src="~/Images/GICHRCLogo.png" width="250" /></td><td>@if (UserHelper.GetLoggedInUser().ShowCustomLogo == true) {<img src="~/Images/CustomGILogo.png" width="90" height="90" />}</td></tr>
                                    </table>
                                   
                                    
                                    <!--object id="logo-svg" type="image/svg+xml" data="/Images/GOALint-logo.svg"></!--object-->
                                </div>

                            </div>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav float-right">
                                <li><a href="mailto:clinicaltrials@chrc.net">@GoalInternational.Languages.Common.ContactUs</a></li>
                                <li>@Html.ActionLink(@GoalInternational.Languages.Common.LogOut, "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "ctrlLogOut" })</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    

    <section>
        <div role="main" class="container overlay-z2">

            <div class="pnl-portal">
                <div class="row">
                    <div class="col-md-12">

                        <div class="logo-txt-welcome">@GoalInternational.Languages.Shared_Layout.G4 @userModel.FirstName @userModel.LastName</div>
                        <div class="btn-back"><span class="glyphicon glyphicon-chevron-left"></span><span>@GoalInternational.Languages.Common.BACK</span></div>
                        <!-- <div class="lead1" style="color: #534d4d">CFPC &nbsp;&nbsp; FMOQ</div>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 left-panel" style="margin-bottom: 2px; background-color: #B4CDDC">
                        <div style="margin-top: 15px; text-align: right;">
                        </div>
                        <a href="/Home/Index" style="color: #333"><button type="button" class="form-control btn btn-sm" id="home" style="background:none; text-align:right; padding:0px"><span class="glyphicon glyphicon-home" style="font-size:16px"></span></button></a>

                        <div style="margin-bottom: 20px; background-color: #036; padding-top:12px; color:#FFF; padding-bottom:1px">
                            <ul class="item">
                                <li><span class="glyphicon glyphicon-chevron-right " style="font-size: 18px; color:#FFF"></span><a href="/PatientVisit/Index" style="color: #FFF; font-size: 20px; font-weight: bold;">@GoalInternational.Languages.Shared_Layout.G5</a></li>

                                <!-- <li>Reports</li>-->
                            </ul>
                        </div>

                        <div style="margin-top: 0px">

                            @if (userModel.UserType == Constants.UserRole.PI.ToString())
                            {
                                <div>
                                    <p>
                                        <strong>@GoalInternational.Languages.Shared_Layout.G6</strong><br>
                                    </p>
                                    <ul class="item">
                                        <li><span class="glyphicon glyphicon-plus-sign" style="font-size: 13px"></span><a href="/Support/AddSubInvestigator" style="color: #333">@GoalInternational.Languages.Shared_Layout.G10</a></li>
                                        <li><span class="glyphicon glyphicon-pencil" style="font-size: 13px"></span><a href="/Support/ModSubInvestigator" style="color: #333">@GoalInternational.Languages.Shared_Layout.G11</a></li>
                                        <li><span class="glyphicon glyphicon-plus-sign" style="font-size: 13px"></span><a href="/Support/AddStudyCoordinator" style="color: #333">@GoalInternational.Languages.Shared_Layout.G12</a></li>
                                        <li><span class="glyphicon glyphicon-pencil" style="font-size: 13px"></span><a href="/Support/ModStudyCoordinator" style="color: #333">@GoalInternational.Languages.Shared_Layout.G13</a></li>
                                    </ul>
                                </div>
                            }

                            


                            <p><strong>@GoalInternational.Languages.Shared_Layout.G7</strong></p>
                            <ul class="item">

                                <li><span class="glyphicon glyphicon-download-alt" style="font-size: 13px"></span><a target="_blank" href="@GoalInternational.Languages.Shared_Layout.ProtocolURL" style="color: #333">@GoalInternational.Languages.Shared_Layout.G8</a></li>
                                @if (UserHelper.GetLoggedInUser().CountryID == 3) {//kuwait
                                    <li><span class="glyphicon glyphicon-download-alt" style="font-size: 13px"></span><a target="_blank" href="/Doc/ICF/ENG/KuwaitICF18To21.docx" style="color: #333">@GoalInternational.Languages.Shared_Layout.KuwaitICF18To21</a></li>
                                    <li><span class="glyphicon glyphicon-download-alt" style="font-size: 13px"></span><a target="_blank" href="/Doc/ICF/ENG/KuwaitICF21AndOver.docx" style="color: #333">@GoalInternational.Languages.Shared_Layout.KuwaitICF21AndOver</a></li>
                                
                                }else if (UserHelper.GetLoggedInUser().CountryID == 1)//brazil
                                {
                                    <li><span class="glyphicon glyphicon-download-alt" style="font-size: 13px"></span><a  target="_blank" href="/Doc/ICF/POR/ICF.doc" style="color: #333">@GoalInternational.Languages.Shared_Layout.G9</a></li>
                                }else if (UserHelper.GetLoggedInUser().CountryID == 4)//mexico
                                {
                                <li><span class="glyphicon glyphicon-download-alt" style="font-size: 13px"></span><a target="_blank" href="~/Doc/ICF/SPA/ICF.docx" style="color: #333">@GoalInternational.Languages.Shared_Layout.G9</a></li>
                                }else 
                                {
                                    <li><span class="glyphicon glyphicon-download-alt" style="font-size: 13px"></span><a target="_blank" href="~/Doc/ICF/ENG/ICF.doc" style="color: #333">@GoalInternational.Languages.Shared_Layout.G9</a></li>
                                }

                                <li><span class="glyphicon glyphicon-download-alt" style="font-size: 13px"></span><a target="_blank" href="@GoalInternational.Languages.Shared_Layout.SAEReportingURL" style="color: #333">@GoalInternational.Languages.Shared_Layout.G19</a></li>
                            </ul>
                            <p><strong>@GoalInternational.Languages.Shared_Layout.G14</strong></p>
                            <ul class="item">
                                <li><span class="glyphicon glyphicon-film" style="font-size: 13px"></span><a target="_blank" href="/Support/InvestigatorMeeting" style="color: #333">@GoalInternational.Languages.Shared_Layout.G15</a></li>
                                <li><span class="glyphicon glyphicon-film" style="font-size: 13px"></span><a  target="_blank"  href="/Doc/Tutorial/ENG/Tutorial.pdf" style="color: #333">@GoalInternational.Languages.Shared_Layout.G16</a></li>
                                
                                <li><span class="glyphicon glyphicon-download-alt" style="font-size: 13px"></span><a target="_blank" href="~/pdf/2019_EuropeanGuidelines.pdf" style="color: #333">@GoalInternational.Languages.Shared_Layout.G22</a></li>
                                <li><span class="glyphicon glyphicon-download-alt" style="font-size: 13px"></span><a target="_blank" href="~/pdf/2018_Guidelines.pdf" style="color: #333">@GoalInternational.Languages.Shared_Layout.G18</a></li>
                                <li><span class="glyphicon glyphicon-download-alt" style="font-size: 13px"></span><a  href="~/pptx/GoalInternationalSlides.pptx" style="color: #333">@GoalInternational.Languages.Shared_Layout.G21</a></li>

                               
                            </ul>
                        </div>
                        <div style="margin-top: 30px">
                            <ul class="item">
                                <li><span class="glyphicon glyphicon-chevron-right " style="font-size: 13px"></span><a href="/Support/SteeringCommittee" style="color: #333">@GoalInternational.Languages.Shared_Layout.G17</a></li>
                                <li style="display: @reportCountryLeader"><a href="/Admin/ExportToExcel">@GoalInternational.Languages.Shared_Layout.G20</a></li>
                                <!-- <li>Reports</li>-->
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-9" style="margin-bottom:2px;color: #2b2b2b; padding-left:20px; padding-right:20px">


                      
                        @RenderBody()
                    </div>
                    <div>


                    </div>
                </div>

            </div><!--end of pnl-portal-->
            
            <div class="form-group form-group-md col-sm-2 pull-4">
                <br />
                <input type="button" class="form-control btn btn-danger btn-md" id="btnNext" value="@GoalInternational.Languages.Technical.G1" style="bottom:0px" onclick="window.location = '/Account/Technical'; return false;">
                <br />
            </div>
        </div><!--contain end div-->
    </section>

    <footer>
        <div class="container overlay-z2 footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="logo-img-ftr">
                        <object class="logo-img-ftr-svg" type="image/svg+xml" data="/Images/CHRClogos_mer.svg"></object>
                    </div>
                </div>

                <div class="col-xs-4  col-sm-4 col-md-2">
                    <a href="mailto:clinicaltrials@chrc.net" title="clinicaltrials@chrc.net" style="margin-right: 20px; color:#FFF">clinicaltrials@chrc.net</a>
                    <br class="">
                    @GoalInternational.Languages.Common.Address
                    <br class="r-break">
                    @GoalInternational.Languages.Common.City
                    <br class="r-break">
                    @GoalInternational.Languages.Common.Country
                    <br class="r-break">
                    <br>
                </div>
            </div>
        </div>
    </footer>



    <script type="text/javascript">

        $(document).ready(function () {



            $('body').css('background-image', 'url(/Images/Goal_bg.jpg)');

            //$('#btnAddSessionContact').on('click', function (e) {
            //    loadModal('#abc', 'Add Session Contact', '> Modal Content', 'modal-lg');
            //});



            //events


            $('.btn-back').on('click', function (e) {
                window.history.back();
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>