@model GoalInternational.Models.TechnicalModel

@{
    ViewBag.Title = GoalInternational.Languages.Technical.G2;
}

<h1>@GoalInternational.Languages.Technical.G2</h1>
<h3>@GoalInternational.Languages.Technical.G3</h3>
<p>@GoalInternational.Languages.Technical.G4</p>
<br>


@using (Html.BeginForm("Technical", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <div class="row" style="border:5px solid #036; margin:10px; padding:10px; padding-top:15px">
        <div class="form-group form-group-sm col-sm-12">
            <label class="" title="@GoalInternational.Languages.Technical.G5">@GoalInternational.Languages.Technical.G5*: </label>
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @id = "txtFirstName", @placeholder = "" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "errorMssg" })
        </div>
        <div class="form-group form-group-sm col-sm-12">
            <label class="" title="@GoalInternational.Languages.Technical.G6">@GoalInternational.Languages.Technical.G6*:</label>
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @id = "txtLastName", @placeholder = "" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "errorMssg" })
        </div>
        <div class="form-group form-group-sm col-sm-12">
            <label class="" title="@GoalInternational.Languages.Technical.G7">@GoalInternational.Languages.Technical.G7*: </label>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail", @placeholder = "" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "errorMssg" })
        </div>
        <div class="form-group form-group-sm col-sm-12">
            <label class="" title="@GoalInternational.Languages.Technical.G8">@GoalInternational.Languages.Technical.G8*: (@GoalInternational.Languages.Technical.G9)</label>
            @Html.TextAreaFor(model => model.Issue, new { @class = "form-control", @id = "txtIssue", @placeholder = "", @rows = "10"})
            @Html.ValidationMessageFor(m => m.Issue, "", new { @class = "errorMssg" })
        </div>



        <div class="form-group form-group-lg col-sm-2 pull-right">
            <input type="submit" class="form-control btn btn-primary btn-lg" value="@GoalInternational.Languages.Common.SUBMIT" />

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="successLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="successful_modal">
                                <p><strong>@GoalInternational.Languages.Technical.G10</strong></p>
                                <p>@GoalInternational.Languages.Technical.G11</p>
                            </div>
                            <div id="failed_modal" style="color:red">
                                <p><strong>@GoalInternational.Languages.Technical.G12</strong></p>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">@GoalInternational.Languages.Common.OK</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
}

<script>
    var addedSuccess = true;
    function SubmitForm(form) {
        $.validator.unobtrusive.parse(form);

        //event.preventDefault();  //prevent form become invalid
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                datatype: 'json',
            }).done(function (data) {
                if (data.success == "true") {
                    $("#successful_modal").show();
                    $("#failed_modal").hide();
                    addedSuccess = true;
                } else {
                    $("#successful_modal").hide();
                    $("#failed_modal").show();
                    addedSuccess = false;
                }

                $("#myModal").modal('show');
            });
        }
        return false;
    }


    $(document).ready(function () {
        $('#myModal').on('hidden.bs.modal', function () {
            if (addedSuccess) {
                $(this).closest('form').find("input[type=text], textarea").val("");
            }
        })

    });
</script>